* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,html {
  height: 100%;
  max-width: 100vw;
}

h1,h2,h3 {
  font-family: 'Paytone One', sans-serif;
}

h1,h2,h3,p,table,ul {
  margin-bottom: 1rem;
}

i.fa {
  font-size: 4rem;
}

li {
  margin-top: 0.2rem;
}

p {
  font-size:1.1rem;
}

.git_a {
  display: block;
}

.git_octocat {
  width:4%;
  height: auto;
  cursor: pointer;
  position: absolute;
  top:1.2rem;
  right:3rem;


}

.git_octocat:hover {
  transform: scale(1.05);
}



.navigation-menu-wrapper {
  height: 6vh;
  padding-top:2%;
  position: absolute;
  z-index: 1000;
  width: 100%;

}

.other_menu {
  position: static;
}

.ideal_jobs_menu_flex_container {
  justify-content:center;

}



i.fa.fa-briefcase {
  font-size: 2.2rem;
  margin-top: 1%;
}

.icon {
  text-align: center;
}


.navigation-menu-flexbox-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ul-flexbox-container {
  display: flex;

}

.ul-flexbox-container li {
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.ul-flexbox-container li a {
  color: #FFFF;
}

.ul-flexbox-container li a:hover {
  color: #F34213;
  transition: 1s;
}

.welcome_section {
  background-image: url("images/bg2.png");
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  text-align: center;

}

.transition_img {
  width: 100%;
}

.welcome_section h1 ,.welcome_section h2, .welcome_section_button  {
  text-transform: uppercase;
  color: #FFFF;
  width: 45%;
  padding: 2rem;
  font-family: 'Paytone One', sans-serif;

  line-height: 3.5rem;
  font-size: 3.0rem;
}

.welcome_section_button a {
font-family: 'Paytone One', sans-serif;
color: #FFFF;
}

a.blink:hover {

  display: inline-block;
  transition: 0.5s;
  transform: scale(1.1);
}

.team_section {
  background: #FFFF;
}
.team_section h1 {
  text-align: center;

}

.team_wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2%;
  justify-content: center;
  padding:0 15%;
  color: #181818;
  margin-top: 3%;
}





.team_wrapper .team_member {
  background: #FFDE70;
  /* background: #b8e2f4; */
  margin: 1% 1% 5%;
  padding:1% 3% 3%;
  line-height: 1.3rem;
  border-radius: 3%;

}

.team_wrapper .team_member h3 {
  font-size: 1.8rem;
  margin: 2rem 0 0;
}

.team_member_info {
  margin-top: 10%;
}

.team_member {
  flex-basis: 25%;
  position: relative;
  margin-bottom: 5%;
  display:flex;
  flex-direction: column;


}

p.team_member_info {
  margin-bottom: 10%;
}

.text_box {
  margin: auto auto 0;
  padding: 0.5rem 1.5rem;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border:0;
  cursor: pointer;
  background: #404040;
  color: #fff;
  transition: all 500ms;
  border-radius: 0.5rem;
  width: 60%;
  text-align:center;

}

.text_box:hover,.text_box:focus {
  background-image: linear-gradient(to right,#F18119,#FF713B);
  transform: scale(1.05);
}


.team_member_photo img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  /* margin-bottom: 5%; */
  /* position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%); */
  border: 4px solid #FFFF;
}

.ideal_jobs_section, .industry_data_section, .it_technologies, .it_work, .group_reflection_section {
  padding: 0 15%;
  margin: 1% 0 5%;
}

.industry_data_section table {
  margin-bottom: 5%;
}

.it_technologies img {
  margin:5% auto;
}

img.sae, img.rgm {
  display: block;
}

img.rgm {
  margin: 0 auto;
}

h5.rgm_figure {
  margin: 1% 0;
}

.ideal_jobs_section h1 {
  text-align: center;
  margin-bottom: 1%;
}

.ideal_jobs_section p {
  margin-bottom: 1%;
}

.ideal_jobs_section table.ideal_jobs_table {
  margin:0 auto;
  border-collapse: collapse;
  font-size: 1.5rem;
  min-width: 80%;



}

.ideal_jobs_table {
  margin:0 auto;
}

thead {
border-radius: 22px;
}



.ideal_jobs_table thead tr {
  background-color: #1c84b0;
  color: #FFFF;
  text-align: left;

}

.ideal_jobs_table thead tr th, .ideal_jobs_table tbody tr td {
  padding: 0.5rem 1rem;
}

.ideal_jobs_table tbody tr {
  border-bottom: 1px solid rgba(22,22,22, 0.5);
}

.ideal_jobs_table tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}

.ideal_jobs_table tbody tr:last-of-type {
  border-bottom:3px solid #1c84b0;
}

.ideal_jobs_text {
  margin-top: 5%;
}

#textbox {
  position:fixed;
  z-index: 1000;
  top:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#textbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#infobox {
  width:80%;
  height:80%;
  z-index: 2000;
  background-color: #FFFFFF;
  padding: 2%;

}

#infobox h3 {
  text-align: center;
}

.test {
  font-size: 0.8rem;
}


.project_idea {
  text-align: center;
  padding: 0 15%;
}

.fade-in {
  opacity:0;
  transform: translateY(15px);
  transition: 1.5s all ease-in-out;
}

.appear {
  opacity: 1;
  transform: translateY(0px);
}

i.fa {
  font-size: 4rem;
}

.other_menu nav li a {
  position: static;
  color: #181818;
}

.brochure {
  width: 60%;
  height: auto;
}
